{%extends "base.html"%}
{%block pagetitle%}test get method{%endblock%}
{%block title%}<h2> Cordee : {{cordee["nomcordee"]}} </h2>{%endblock%}

{%block content%}
<h2> Voici la liste membres de la cordée {{cordee["nomcordee"]}} </h2>
<div class="table_wrapper">
    <table>
        <thead>
            <tr>
                <th>{{cordee["nomcordee"]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2">
                    <div class="separation_bar"></div>
                </th>
            </tr>
            {%for item in content%}
                <tr>
                    <td>
                        
                        <a href={{url_for("user", select=item[0])}}>{{item[1]}}</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}