{%extends "base.html"%}
{%block pagetitle%}test get method{%endblock%}
{%block title%}<h2>Tableau des cordées </h2>{%endblock%}

{%block content%}
<h2> Voici la liste des cordées </h2>
<div class="table_wrapper">
    <table>
        <thead>
            <tr>
                <th>Cordées</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2">
                    <div class="separation_bar"></div>
                </th>
            </tr>
            {%set i=0%}
            {%for item in content%}
                <tr>
                    <td><div onmouseout="this.style.backgroundColor='var({% if i%2 == 0 %}--background{% else %}--background-accent{% endif %})'" onmouseover="this.style.backgroundColor='#e74c3c'"  onclick="location.href =  '{{url_for("cordeeselect", select=item["idcordee"])}}'">{{item["nomcordee"]}}</div></td>
                </tr>
            {%set i=i+1%}
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}