{%extends "base.html"%}
{%block pagetitle%}page test{%endblock%}

{%block title%}
<h2 style="text-align: center;">Page de difficultés.</h2>
{%endblock%}

{%block content%}
<h2>Voici la table des difficultés</h2>
<div class="table_wrapper">
    <table>
        <thead>
            <tr>
                <th>Français</th>
                <th>Americain</th>
                <th>Anglais</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="3">
                    <div class="separation_bar"></div>
                </th>
            </tr>
            {% for item in content%}
            {%if item["fr"]==select%} 
            <script>window.onload = function(){(console.log('{{item}}'))}</script>
            <tr style="background-color: yellow;">
                <td>{{item["fr"]}}</td>
                <td>{{item["am"]}}</td>
                <td>{{item["en"]}}</td>
            </tr>
            
            {%else%}
            <tr>
                <td>{{item["fr"]}}</td>
                <td>{{item["am"]}}</td>
                <td>{{item["en"]}}</td>
            </tr>
            {%endif%}
                {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}