{%extends "base.html"%}
{%block pagetitle%}test get method{%endblock%}
{%block title%}<h2>test get method</h2>{%endblock%}

{%block content%}
<div id="login_wrapper">
    <form action="#" method="post">
        <form action="#" method="post">
            <p>Identifiez vous</p>
            <div class="separation_bar"></div>
            <input type="text" id="id"name="id" placeholder="Email"><br>
            <input type="password" id="psw" name="psw" class= "form-control" placeholder="Mot De Passe"><br>
            <button class="btn btn-primary" type= "submit">Envoyer</button><br>
        </form>
        <p id="login_message_fail">adresse mail ou mot de passe incorrect</p>
    </form>
    <p onclick="location.href='{{url_for('register')}}';">Pas encore inscript?</p>
</div>
{%endblock%}