{%extends "base.html"%}
{%block pagetitle%}test get method{%endblock%}
{%block title%}<!-- <h3>test get method</h3> -->{%endblock%}

{%block content%}
<div id="login_wrapper">
    <form action="#" method="post">
        <p>Identifiez vous</p>
        <div class="separation_bar"></div>
        <input type="text" id="id"name="id" placeholder="Email"><br>
        <input type="password" id="psw" name="psw" class= "form-control" placeholder="Mot De Passe"><br>
        <div><button class="btn btn-primary" type= "submit">Envoyer</button></div><br>
    </form>

    <a href={{url_for('register')}}>Pas encore inscript?</a>
</div>
{%endblock%}