{%extends "base.html"%}
{%block pagetitle%}test get method{%endblock%}
{%block title%}test get method{%endblock%}

{%block content%}
<form action="#" method="post">
    <p>Identifiez vous</p>
    <p><input type="text" id="id"name="id" placeholder="Email"></p>
    <p><input type="password" id="psw" name="psw" class= "form-control" placeholder="Mot De Passe"></p>
    <div><button class="btn btn-primary" type= "submit">Envoyer</button></div>
</form>

<a href={{url_for('register')}}>Pas encore inscript?</a>
{%endblock%}