{%extends "base.html"%}
{%block pagetitle%}page test{%endblock%}

{%block title%}
<h2 style="text-align: center;">Page de proposition</h2>
{%endblock%}
{%block content%}
<p>description : {{content["description"]}}<br>
L'élévénement aura lieu le {{content["datep"]}}<br>
Il est organisé par {{content["mail"]}}<br>
le niveau de difficulté est <a href="{{url_for('difficulté',select=content["fr"])}}">{{content["fr"]}}</a><br>

<div class="table_wrapper">
    <table>
        <thead>
            <tr>
                <th>participants</th>
                {%if session["mail"]==content["mail"]%}
                <th>désinscrire</th>
                {%endif%}
            </tr>

        </thead>
        <tbody>
            <tr>
                <th colspan="2">
                    <div class="separation_bar"></div>
                </th>
            </tr>
            {% for elem in participant%}
                <tr>
                    <td><div onmouseout="this.style.backgroundColor='var({% if loop.index%2 == 0 %}--background-accent{% else %}--background{% endif %})'" onmouseover="this.style.backgroundColor='#e74c3c'"  onclick="location.href =  '{{url_for("user", select=elem["mail"])}}'"> {{elem["mail"]}}</div></td>
                    {%if session["mail"]==content["mail"]%}
                    <td>
                        <div 
                        onmouseout="this.style.backgroundColor='var({% if loop.index%2 == 0 %}--background-accent{% else %}--background{% endif %})'" 
                        onmouseover="this.style.backgroundColor='#e74c3c'"  
                        onclick="location.href='{{ url_for("remove", idpropo=content['idpropo'], email=elem['mail']) }}'">
                        x
                    </div>    
                    </td>
                    {%endif%}
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{%if session['mail']==content['mail']%}
<br>souhaitez-vous <a href="{{url_for('transfer',select=content['idpropo'])}}">archiver</a> cet proposition?<br>
souhaitez vous supprimer cet proposition?<br>
{%endif%}

{%if content['nb_max']>nbr%}
Souhaitez vous rejoindre cette partie? cliquez<a href="{{url_for('join',select=content['idpropo'])}}"> ici </a>et contactez l'organisateur pour réserver votre place
{%endif%}
</p>
{%endblock%}
