{%extends "base.html"%}
{%block pagetitle%}test get method{%endblock%}
{%block title%}<h2>S'inscrire</h2>{%endblock%}

{%block content%}
<div id="login_wrapper">
    <form action="#" method="post">
        <p>Inscrivez-vous</p>
        <div class="separation_bar"></div>
        <input type="text" id="nom"name="nom" placeholder="Nom de l'utilisateur"><br>
        <input type="text" id="prenom"name="prenom" placeholder="prenom de l'utilisateur"><br>
        <input type="text" id="id"name="id" placeholder="Email"><br>
        
        <label for = "niveau">choisisez votre niveau</label>
        <div class="separation_bar"></div>
        <select id="niveau" name="niveau">
            {%for item in diff%}
            <option value="{{ item['fr'] }}">{{item['fr']}}</option>
            {%endfor%}
        </select><br>
        <input type="password" id="psw1" name="psw1" class= "form-control" placeholder="Mot De Passe"><br>
        <input type="password" id="psw2" name="psw2" class= "form-control" placeholder="Confirmez Mot De Passe"><br>
        <button class="btn btn-primary" type= "submit">S'inscrire</button>
    </form>
    <p onclick="location.href='{{url_for('login')}}';">déjà inscript?</p>
    {%with messages = get_flashed_messages(with_categories=True)%}
    {%if messages%}
          {%for category,messages in messages%}
          {%if category == "error"%}
            <div style="color:red;" role="alert">
              {{messages}}
              
            </div>
          {%endif%}
      {%endfor%}
    {%endif%}
  {%endwith%}
</div>
{%endblock%}