{%extends "base.html"%}
{%block pagetitle%}page test{%endblock%}

{%block title%}
<h2 style="text-align: center;">Pages des sites</h2>
{%endblock%}

{%block content%}
<h2>Voici la liste des sites disponibles</h2>
<div class="table_wrapper">
    <table>
        <tread>
            <tr>
                <th>nom</th>
                <th>codepostal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2">
                    <div class="separation_bar"></div>
                </th>
            </tr>
            {% for item in content%}
            
                <tr>
                    <td><div onmouseout="this.style.backgroundColor='var({% if loop.index%2 != 0 %}--background{% else %}--background-accent{% endif %})'" onmouseover="this.style.backgroundColor='#e74c3c'"  onclick="location.href =  '{{url_for("site", select=item["idse"])}}'">{{item["nom"]}}</div></td>
                    <!--<td><a href={{url_for("site", select=item["idse"])}}>{{item["nom"]}}</a></td>-->
                    <td><div onmouseout="this.style.backgroundColor='var({% if loop.index%2 != 0 %}--background{% else %}--background-accent{% endif %})'" onmouseover="this.style.backgroundColor='#e74c3c'"  onclick="location.href =  'https://www.google.com/maps/search/{{item["codepostal"]}}/'" target="_blank">{{item["codepostal"]}}</div></td>
                    <!--<td><a href="https://www.google.com/maps/search/{{item["codepostal"]}}/" target="_blank">{{item["codepostal"]}}</td></a>-->
                </tr>
            {%endfor%}
        </tbody>
    </table>
</div>


{%endblock%}