{%extends "base.html"%}
{%block pagetitle%}page test{%endblock%}

{%block title%}
<h1 style="text-align: center;">Pages des sites</h1>
<h2 style ="text-align: center;">de France</h2>
{%endblock%}

{%block content%}
<h2>Voici la liste des voies disponibles</h2>
<table>
    <thread>
        <tr>
            <th>nom</th>
            <th>longueur de l'ascention</th>
            <th><a>difficulté</th>
        </tr>
    </thread>
    <tbody>
        {% for item in content%}
            <tr>
                <td>{{item["nom"]}}</td>
                <td>{{item["longueur"]}}</td>
                <td><div onclick = "location.href='{{url_for("difficultés", select=item["fr"])}}';">{{item["fr"]}}</div></td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}