{%extends "base.html"%}
{%block pagetitle%}test get method{%endblock%}
{%block title%}<h1> Votre espace personnel </h1>{%endblock%}

{%block content%}
    <p>Identifiant : {{content["mail"]}}  </p>
    <p>difficulté : {{content["fr"]}}</p>
    

    {%if guide%}
    <p>Cet utilisateur est un moniteur! contactez le si vous avez besoin de conseil </p>
    {%endif%}

    {%if lst!=[]%}
    <h2>l'historique de cordée de l'utilisateur : </h2>
    {%for elem in lst%}
    <table>
        <td>test {{elem["nomcordee"]}}</td>
    </table>
    {%endfor%}
    {%endif%}

    <p><a href="{{url_for('usersetting')}}">Souhaitez vous modifier les paramètres de votre compte?</a></p>
{%endblock%}