{%extends "base.html"%}
{%block pagetitle%}test get method{%endblock%}
{%block title%}<h2> Fiche de {{content["nom"]}} {{content["prenom"]}} </h2>{%endblock%}

{%block content%}
    <p>Identifiant : {{content["mail"]}}  </p>
    <p>difficulté : {{content["fr"]}}</p>
    

    {%if guide%}
    <p>Cet utilisateur est un moniteur! contactez le si vous avez besoin de conseil </p>
    {%endif%}


    
    {%if test!=[]%}
    <h2>l'historique de cordée de l'utilisateur : </h2>
    {%for elem in lst%}
    <table>
        <td>test {{elem["nomcordee"]}}</td>
    </table>
    {%endfor%}
    {%endif%}
{%endblock%}